*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/background-image.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.container{
   min-width: 450px;  
   margin: 50px 100px;
   padding: 100px;
   background-color:rgba(255, 255, 255, 0.658);
    border-radius: 10px;

}
.form-container{
    width: 450px;

    margin: 0 auto;
    background-color: black;
    padding: 30px 40px;
}
.form-container p{
    color: white;
}

.heading{
    margin-bottom:5px ;
    font-size: 30px;
    font-weight: 600;
}
 .heading span{
    color:white;
}
.heading h1{
    text-align: center;
    color:yellow;
}
.description{
    margin-bottom: 7px;
    text-align: center;
    color: white;
}
label{
    color: white;
}
input{
    color: white;
}
.transmission p{
    color: white;
}
.rent-form label{
    display: block;
    margin: 5px;
}
.rent-form input,select{
    margin: 5px;
    padding: 10px;
    width: 100%;
}
.btn{
    color: black;
    width: 50%;
    border-radius: 15px;
}
.transmission-title{
    margin: 5px ;
}
.transmission{
    display: flex;
}
.message-input{
    height: 60px;
}
